env: prod
sql:
  instance: ent-kakka-prd:europe-west1:kakka-db=tcp:5432

configMap:
  gcsBlobstore: ror-kakka-production
  gcsTargetBlobstore: marduk-production
  blobstoreProjectId: ent-kakka-prd
  blobstoreTargetProjectId: entur-ror-prod
  pubsubProjectId: ent-kakka-prd
  kinguPubsubProjectId: ent-kingu-prd
  nabuPubsubProjectId: ent-nabu-prd
  gcsSourceBlobstore: ror-kingu-production
  tiamatUrl: http://tiamat.prd.entur.internal:80
  tiamatExporterUrl: http://tiamat-exporter.prd.entur.internal:80
  babaUrl: http://baba.prd.entur.internal/services/organisations/
  auth0:
    partner:
      url: https://partner.entur.org/
      audience: https://ror.api.entur.io,https://api.entur.io
  oauth2:
    client:
      url: https://internal.entur.org/oauth/token
      audience: https://ror.api.entur.io
  baba:
    service: http://baba.prd.entur.internal
  roleAssignmentExtractor: baba
  tiamatExportSchedule: 0+0+23+*+*+?
  tiamatExportScheduleMidDay: 0+0+12+*+*+?
  gecoderExportSchedule: 0+0+22+*+*+?
  gecoderExportScheduleMidDay: 0+0+14+*+*+?
  poiUpdateEnabled: true
  tiamatExportConfig: env/tiamat-exports-kub-ent-prd.yml
  slackSecret: ror-prod-slack-url
  pelias:
    gtfs: false
    placeBoost: 40
    boostConfig: '{"defaultValue":30, "stopTypeFactors":{"busStation":{"*":2},"metroStation":{"*":2},"railStation":{"*":2}}}'
    boostFactor: 10
    addressBoost: 20
    streetBoost: 20
    stopPlaceBoost: 40
    osmPoiFilterDefaultPriority: 10
    poiInclude: true
    geocoderPlaceTypeWhitelist: tettsteddel,bydel,by,tettsted,tettbebyggelse
  elasticsearchDeploymentName: es-scratch
  elasticsearchUploadJobEnabled: true
  elasticsearchUrl: http://es-scratch:9200
  geoCoderCronJob: geocoder-acceptance-tests-predeploy

ingress:
  domainName: -gcp2.entur.io
monitoringEnabled: false

cronjobTiamatExportStatus:
  environmentVar:
    bucketPath: gs://marduk-production/tiamat/

cronjobGeocoderCurrentStatus:
  environmentVar:
    bucketPath: gs://ror-kakka-production/es-data/
